@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');



h1{
  margin-left:570px;
}
.links{
  margin-left:560px;


}
.links{
  font-size:29px;
}

h1{font-size:79px;}
h1 { font-family: 'Cormorant Garamond', serif; }

.picturesss{
  margin-left:410px;
}

.Zendaya1{
  margin-left:240px;
}

h2{
  margin-left:239px;
}

h3{
  margin-left:300px;
}

h4{
  margin-left:300px;
}

p{
  margin-left:477px;
}
.Outfit1{
  margin-left:73px;
}

h3{
  margin-left:867px;
}

h6{
 font-size:30px;}

h6{
  margin-left:300px;
}